@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Philosopher:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.heading{
    font-family: 'Philosopher', sans-serif;
}

/* 
    font-family: 'DM Sans', sans-serif;
    font-family: 'Philosopher', sans-serif;
*/


.remove-arrows::-webkit-outer-spin-button,
.remove-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.remove-arrows[type=number] {
    -moz-appearance: textfield;
}


.shadow{
    box-shadow: 0 0 2rem #56ebc8,
    0 0 10rem #7cecd2,
    0 0 1rem #a5eada;
}